/* ::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #FFF;
    padding-left: 1px;
}

::-webkit-scrollbar-thumb {
    background: #9ca2b0;
    border-radius: 4px;
}

.lightbox::-webkit-scrollbar-track {
    background: black;
}

.lightbox::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .3);
} */

.lightbox {
    position: fixed;
    top: 3%;
    left: 13%;
    width: 74%;
    height: 90%;
    background-color: white;
    z-index: 10;
    overflow: auto;
    animation: lightboxIn .5s;
    transition: opacity .3s;
    padding-bottom: 2%
}

.lightbox.fadeOut {
    opacity: 0;
}

.lightbox_next,
.lightbox_prev {
    border: none;
    background: url(/assets/img_svg/arrow.svg) center center / 16px 28px no-repeat;
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 13%;
    z-index: 11;
}

.lightbox_prev {
    right: auto;
    left: 13%;
    transform: rotate(180deg);
}

.lightbox_close {
    width: 30px;
    height: 30px;
    background: url(/assets/img_svg/cross.svg) center center / 100% 100% no-repeat transparent;
    position: inherit;
    top: 6%;
    right: 14%;
    z-index: 12;
    border: none;
}

.lightbox button {
    cursor: pointer;
    text-indent: -3000px;
}

.lightbox button:hover {
    opacity: 1
}

.lightbox_container {
    margin-left: 50px;
    margin-right: 50px;
    height: 95%;
}

.lightbox_container img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    animation: lightboxIn .5s;
    border-radius: 5px;
    margin-top: 2%;
}

.lightbox_container video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 76vh;
    animation: lightboxIn .5s;
    border-radius: 5px;
}

.lightbox_loader {
    width: 38px;
    height: 38px;
    margin-top: 285px;
    margin-left: 50%;
    opacity: .5;
    background: url(/assets/img_svg/loader.svg) center center no-repeat;
}

@keyframes lightboxIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}