#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    margin-top: -880px;
    position: relative;
}

.modal header {
    /* justify-content: space-between; */
    width: 100%;
    display: flex;
    align-items: baseline
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    margin-top: -22px;
    /* text-align: center; */
}

#modalHeader {
    display: flex;
    flex-direction: row;
    height: 160px;
    flex-wrap: wrap;
    padding-bottom: 18px;
}

#name {
    margin-top: -60px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 65px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#message {
    height: 170px;
}

main {
    margin-left: 100px;
    margin-right: 100px;
}

p {
    font-weight: 700;
    font-size: 18px;
}

article {
    margin-left: 50px;
}

article h1 {
    font-weight: 400;
    font-size: 64px;
    margin-bottom: -20px;
    margin-top: -30px;
    color: #D3573C;
    width: 300px;
}

.p1 {
    font-weight: 400;
    color: #901C1C;
    font-size: 24px;
    width: 300px;
}

.p2 {
    font-size: 18px;
    font-weight: 400;
    color: #525252;
    width: 300px;
}

.p4 {
    margin-left: 88%;
    margin-top: -57px;
    font-weight: 500;
    color: #901C1C;
    font-size: 24px;
}

.photograph-header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 50px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 57%;
}

#p1,
#p2 {
    display: none;
    margin-left: -53%;
}

.filter {
    display: flex;
    margin-top: 10px;
}

.select_filtre {
    background-color: #901C1C;
    width: 170px;
    height: 69px;
    border-radius: 5px;
    margin-left: 90px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}

.select_filtre p {
    text-align: center;
}

#chevronUp {
    display: none;
    margin-left: 25px;
    cursor: pointer;
}

#chevronDown {
    margin-left: 25px;
    cursor: pointer;
}

.whiteLine {
    width: 150px;
    color: white;
    border: solid 1px;
    display: none;
}

.photograph_work {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.work {
    display: flex;
    flex-direction: column;
}

.photograph_work img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.photograph_work i {
    background-color: #901C1C;
    width: 17.5px;
    height: 18.35px;
}

.tag {
    width: 376px;
    height: 89px;
    border-radius: 5px;
    background-color: #DB8876;
    float: right;
    margin-right: 40px;
    color: black;
}