#contact_modal {
    display: none;
    justify-content: center;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    z-index: 20;
}

.modal header {
    width: 100%;
    display: flex;
    align-items: baseline
}

.modal header img {
    cursor: pointer;
    margin-right: -15px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    margin-top: -22px;
}

#modalHeader {
    display: flex;
    flex-direction: row;
    height: 160px;
    flex-wrap: wrap;
    padding-bottom: 18px;
}

#close_button {
    border: none;
    background: none;
}

#name {
    margin-top: -60px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 65px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#message {
    height: 170px;
}

main {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 100px;
}

p {
    font-weight: 700;
    font-size: 18px;
}

article {
    margin-left: 50px;
}

article h1 {
    font-weight: 400;
    font-size: 64px;
    margin-bottom: -10px;
    margin-top: -30px;
    color: #D3573C;
    width: 420px;
}

.p1 {
    font-weight: 400;
    color: #901C1C;
    font-size: 21px;
    margin-top: 10px;
}

.p2 {
    font-size: 18px;
    font-weight: 400;
    color: #525252;
}

.p4 {
    margin-left: 83.9%;
    margin-top: -48px;
    font-weight: 500;
    color: #901C1C;
    font-size: 21px;
}

.button_like {
    border: none;
    background: none;
    font-weight: 500;
    color: #901C1C;
    font-size: 21px;
    padding: 0px;
}

.photograph-header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 50px;
    filter: drop-shadow(1px 4px 3px rgb(70, 69, 69))
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 57%;
}

#confirm_submit {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: -50px;
}

.filter {
    display: flex;
    margin-top: 10px;
}

select {
    background-color: #901C1C;
    width: 170px;
    height: 70px;
    border-radius: 5px;
    margin-left: 30px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    color: white;
    font-size: 18px;
    padding-left: 5px;
}

.photograph_work {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work {
    display: flex;
    flex-direction: column;
}

.photograph_work img,
video {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    filter: drop-shadow(1px 4px 3px rgb(70, 69, 69));
    cursor: grab;
}

.photograph_work i {
    width: 17.5px;
    height: 18.35px;
    margin-left: 5px;
    cursor: pointer;
}

.tag {
    width: 376px;
    height: 89px;
    border-radius: 5px;
    background-color: #DB8876;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.tag i {
    margin-left: -85px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 12px;
    color: darkred;
    display: block;
    margin-top: 7px;
    text-align: left;
    line-height: 0.7;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}